.header-section{
    background-color:#4b6cb7; ;
}

h3{
    color: #fff !important;
}

.action-btns{
    background:transparent;
    border: none;
    border:1px solid transparent
}

.sort-box{
    cursor: pointer;
}

.order-icon{
    height: 20px;
    width: 20px;
}

.logout-btn {
    background-color: #0c465d !important;
    border: none !important;
    color: white !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}